@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@keyframes moveDownAnimation {
    100% {
        background-position-y: 100%;
    }
}

@keyframes fadein {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeout {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}

:root {
    --green-glow: 0px 0px 2px hsl(120, 100%, 80%),
        0px 0px 15px green,
        0px 0px 60px green;
    --red-glow: 0px 0px 1px hsla(0, 100%, 80%, 0.5),
        0px 0px 2px hsla(0, 100%, 80%, 0.5),
        0px 0px 15px hsla(0, 100%, 50%, 0.5),
        0px 0px 60px hsla(0, 100%, 50%, 0.5);
    --green-glow-drop-shadow: drop-shadow(0px 0px 2px hsl(120, 100%, 80%)) drop-shadow(0px 0px 8px green);
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

input[type="text"],
input[type="text"]:focus {
    background: none;
    font-family: "VT323", sans-serif;
    font-size: 21px;
    outline: none;
    border: 0;
    color: rgb(255, 255, 255);
    text-shadow: var(--green-glow);
    backface-visibility: hidden;
    max-width: 90%;
}

button {
    font-family: "VT323", sans-serif;
    font-size: 21px;
    color: rgb(255, 255, 255);
    text-shadow: var(--green-glow);
    backface-visibility: hidden;
    background: none;
    border: 0;
    cursor: pointer;
}

button:disabled {
    cursor: default;
    color: rgba(255, 255, 255, 0.65);
    text-shadow: var(--red-glow);
}

span {
    text-shadow: var(--green-glow);
    backface-visibility: hidden;
}

.darken {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.crt_lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(static/img/lines.jpg);
    z-index: 10;
    background-size: 7px auto;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.4;
    animation: moveDownAnimation 150s linear infinite;
}

.vignette {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(static/img/vignette.png);
    z-index: 11;
    background-size: 100% 100%;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.6;
}

.container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: column;
    padding: 30px;
    overflow: hidden;
}

.background_gif {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    object-fit: cover;
    top: 0px;
    left: 0px;
}

.pomodoro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    font-family: "VT323", sans-serif;
    font-size: 21px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.curr_date_time {
    font-family: "VT323", sans-serif;
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.top_ui {
    z-index: 5;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.timer_btn {
    display: flex;
    align-items: center;
    line-height: 0;
    cursor: pointer;
}

.timer_img {
    width: 20px;
    height: 20px;
    flex: 0 0 20px;
    margin-right: 0px;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 2;
}

.horizontal {
    z-index: 2;
    display: flex;
    align-items: flex-end;
}

.shadow {
    filter: var(--green-glow-drop-shadow);
}

.fadeIn {
    animation: fadein 0.1s ease-out forwards;
}

.fadeOut {
    animation: fadeout 0.1s ease-out forwards;
}

.yt_wrapper {
    position: fixed;
    inset: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    background: black;
    padding: 70px 30px 105px;
}

.disable_pointer {
    pointer-events: none;
    user-select: none;
    z-index: -1;
    border-radius: 8px;
    width: 100vw;
    height: 200vw;
}